
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color:  rgb(240,230,140);
	color: #0C106C;
}

header{
	display: inline-flex;
	width: 100px;
	height: 100px;
}
header h1{
	width: 20px;
	padding-top: 20%;
	font-family: 'Rubik', sans-serif;
}
header img{
	width: 200px;
	line-height: 2em;
}
nav {
	background-color: #9E922A;
    height: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right:5%;
	width: auto;
}
nav.sticky{
	position: sticky;
	top:0;
	padding:20px;
}

nav li{
	display: inline-block;
	padding-left: 2em;
	font-size: 14pt;
}
nav li{
	list-style-type: none;
}

nav li a{
	text-decoration: none;
}
nav ul li a:hover{
	color: #f0e68c;
}
aside{
	float: left;
	width:20%;
	padding-top: 1%;
	margin-left: 2%;
	font-family: 'EB Garamond', serif;
	overflow:unset;

}

aside li{
	height: 25px;
	list-style:none;
	border-bottom: gray  solid 1px;
	width: 250px;
	font-size: 14pt;
}
aside li a{
text-decoration: none;

}
aside li a:hover{
	color: #9e922a;
}
h1:target, h2:target
{
color: green;
border-bottom: green solid 1px;

}

main{
	float: left;
	width:76%;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 5%;
}
main section{
	margin-right:  10%;
	overflow-x:  auto;
	padding-bottom: 2em;
}
main section h1{
    margin: 2px;
	font-family: 'Rubik', sans-serif;
    color: #060A53;
}

 main section h2{
	margin: 2px;
	font-family: 'Rubik', sans-serif;
    color: #020434;
}
main section p{
	padding-left: 2%;
	font-family: 'Roboto Slab', serif;
}
main section img{
	float: left;
	width: auto;
}
table {
	width: 10px;
	font-size: 12pt;
}
main table, main table td {
	border: black solid 2px;
}
main table th{
	border: black solid 2px;
}

 main table{
    border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #000;

	
}
th{
	width: 50%;
	text-align: left;
	padding: 8px;
}
td{
	width: 50%;
	text-align: center;
	padding: 8px;
}
tr:nth-child(even){
	background-color:  #829ABD;
}
th:last-child{
	text-align: center;
}

#img-card{
	width: 21.37%;
  background-color: #FFF;
	margin: 1em;
	text-align: center;
	float: left;
	box-shadow: #808080 1px 2px 2px 1px;
	
}
#img-card img{
	
	width: 100%;
}
#img-card p{
	text-align: center;
}
#source-list{
	padding-top: 2%;
}
#source-list ol{
	padding-left:10%;
}
#source-list h1 {
	position:relative;
}
#source-list img{
	height: 20%;
	width: 5%;
	float: left;
}
#source-list a:hover{
	color: #0C106C;
}
#source-list img:hover{
	height: 20%;
	width: 5%;
	position:relative;
	float: left;
	image-orientation: 30deg;
	background-color: red;
	animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 
}

@keyframes rotate{
	0%   { top:0px;}
  25%  {top:21px;}
	50%  { top:31px;}
  100% { top:0px;}
}

footer {
	background-color: #9E922A;
    height: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right:10%;
	clear: both;
	text-align: center;
	font-size: 13pt;
	position: relative;
}